html{
    min-height:300px;
    min-width:100px;
    border-radius: 10px;
}

body{
    background-color:#EAEEA6;
    width: 300px;
    height:300px;
}
div {
    align-content: center;
    align-self: center;
    margin:30px;   
}
h1{
    text-align:center;
    font-size: 25px;
    padding:5px;
    
}
button{
    align-self: center;
}
ul{
    margin:0;
    display:block;
}