/* html{min-height:300px;min-width:100px}
body{
    background-color:#EAEEA6;
    width:400px;
    height:300px;
    width:100%;
    border-radius: 10px;
    padding:5px;
    
} */
body{
    background-color:#EAEEA6;
    width: 300px;
    height:300px;
}
div {
    align-content: center;
    align-self: center;
    
}
h1{
    text-align:center;
    font-size: 25px;

    padding:5px;
    
}
button{
    align-self: center;
}