html{
    min-height:30px;
    min-width:100px;
    border-radius: 10px;
}

body{
    background-color:#EAEEA6;
    width: 300px;
}
div {

    margin:5%;   
}
h1{
    text-align:center;
    font-size: 25px;
    padding:5px;
    
}
button{
    align-self: center;
    margin-left: 40%;
    margin-right: 40%;
}
ul{
    margin:0;
    display:block;
}